body {
    background-color: white;
    color: black;
    padding: 10px;
    margin-left: 2%;
    margin-right: 10%;
    font-family: "Edu AU VIC WA NT Hand", cursive;

}
p {
    padding:10px;
    border-radius:15%;
    background-color:white;
}
#h {
    font-family: "Edu AU VIC WA NT Hand", bold;
    font-weight: 700;
}
#picture {
    float: left;
}

#description {
    float: right;
    width: 50%;

}

#name {
    font-weight: bold;
}

#reviews {
    clear: both;
    margin-top: 30px;
    padding-top: 30px;
   
}

#review {
    padding:10px;
    border-radius:15%;
    background-color:white;
}
